.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.body{
  background-color: #1A0B2E;
}
/* share style */
.bold-size{
  font-weight: 700;
  font-size: 3rem;
}
.regular-size{
  font-weight: 400;
  font-size: 1rem;
}
.navbar , 
#podcast,
#featured-container,
#host, 
#foot,
#hero-section {
  text-align: center;
  align-items: center;
  display: flex;
  background-color: #1A0B2E;
  color: white;
}

.btn:hover {
 background-color: aqua;
}

.about-text , .about-card {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.card-img {
  padding-bottom: 16px;
}



/* nav */

header{
  width: 100%;
}

.navbar {
  padding: 16px 200px;
  justify-content: space-between;
  
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    gap: 32px;
    justify-content: center;
}

.logo {
  color: linear-gradient( 90deg,#F7E93F, #FB09B4, #9100F8);
  font-size: 30px;
  font-weight: 700;
}

.span {
  color: rgba(247, 233, 63, 1);
  background: linear-gradient(to right, #FF3DBB, #FF00CC, #B000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 12px 16px;
  border-radius: 50px;
  background: linear-gradient( 90deg,
    #F7E93F, #FB09B4, #9100F8);
}
/* hero */

/* About */

#podcast{
  display: flex;
  justify-content: center;
  text-align: center;
}

.divider {
  height: 1px;
  margin: 80px 0;
  background: #1A0B2E;
}
.stats{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 120px;
}
.stat-box h3{
  color: #00FF88;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 16px;
}
.stat-box span{
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}

/* hero */
#hero-section{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 150px;
}

.hero-container{
  position: relative;
  width: 100%;
  max-width: 1100px;
}

/* background image */
.hero-container img{
  width: 100%;
}

/* logo circle */
.hero-logo{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-logo img{
  width: 245px;
  height: auto;
}

/* btn-new */
.btn-new{
  width: 75px;
  padding: 8px 16px;
  border: none;
  border-radius: 1000px;
  background-color: #00FF88;
  color: #1A0B2E;
  font-weight: 600;
  font-size: 1.13rem;
  position: absolute;
  left: 72%;
}

/* microphone center */
.hero-mic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-mic img{
  width: 80px;
}

/* text section */
.hero-info{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.hero-buttons{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  font-size: 1rem;
}

/* spotify button */
.spotify-btn{
  padding: 12px 20px;
  border: none;
  border-radius: 10000px;
  color: white;
  background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.spotify-btn:hover{
  color: #1A0B2E;
}

/* subscribe button */
.subscribe-btn{
  padding: 12px 20px;
  border: 1px solid #00FF88;
  border-radius: 10000px;
  color: #00FF88;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.subscribe-btn:hover{
  background-color: #00FF88;
  color: #1A0B2E;
}
.hero-title{
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}

/* features */
#features-section{
  color: white;
  background-color: #1a0b2e;
}
.section-title{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.features-grid{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  margin-top:  40px;
  padding-bottom: 120px;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 273px);
}

.big-layout{
 grid-row: span 2; 
}

.mid-layout{
  grid-row: span 1;
  grid-column: span 2;
}

.card {
  background: #1a0b2e;
  border: 1px solid rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  transition: transform 0.3s ease;
}

.hed-card img{
  margin-top: 67px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}
p {
  font-size: 1rem;
  font-weight: 400;
}

/* featured */

#featured-container {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.featured-title {
  padding-top: 40px;
  font-size: 3rem;
  font-weight: 700;
}

.cards {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
  gap: 30px;
}

.featured-card {
  width: 380px;
  height: 440px;
  border: 1px solid rgba(53, 17, 101, 0.4);
}

.card-text {
  text-align: left;
  justify-content: center;
  padding: 24px 24px 0px 24px;
}

.card-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-img {
  position: relative;
}

.card-logo {
  display: flex;
  gap: 6px;
  margin-top: 12px;
  margin-bottom: 24px;
  align-items: center;
}
.logo-img {
  width: 20px;
  height: 20px;
}

.play-button {
  width: 60px;
  height: 60px;  
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient( 90deg,
    #F7E93F, #FB09B4, #9100F8);
}

/* Host */

#host{
  display: block;
}
.host-continer {
  padding-bottom: 120px;
}
.host-title{
  padding-top: 120px;
  font-weight: 700;
  font-size: 3rem;
}

.text{
  text-align: left;
}

.about-alex{
  display: flex;
  border: 1px solid rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  gap: 24px;
}

.alex-logo {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.alex-logo img{
  width: 40px;
  height: 40px;
}

/* footer */
#foot{
  justify-content: center;
  
}
.background{
  position: relative;
  
}
.footer-social{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom{
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.foot-title{
  font-weight: 800;
  font-size: 3.75rem;
  margin-bottom: 32px;
}

.span{
  color: linear-gradient( 90deg,#F7E93F, #FB09B4, #9100F8);
}

.foot-logo {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 32px;
}

.foot-logo img{
  width: 24px;
  height: 24px;
}

.fl {
  display: flex;
}
.fl h3 {
  font-size: 1rem;
  font-weight: 500;
}

/* responsive media query */

/* nav */
@media (max-width:640px) {
  .menu, .btn {
    display: none;
  }
  .navbar {
    display: block;
    justify-content: space-between;
    margin: 0px auto;
  }

  /* about */
  .stats{
    grid-template-columns: repeat(2, 1fr);
  }
  /* features */
  .features-grid{
    grid-template-columns: repeat(1,1fr);
  }
}








