.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* share style */
.btn:hover{
 background-color: aqua;
}

/* nav */

header{
  width: 100%;
}

.navbar {
  padding: 16px 200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #1A0B2E;
  color: white;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    gap: 32px;
    justify-content: center;
}

.logo{
  color: linear-gradient( 90deg,#F7E93F, #FB09B4, #9100F8);
  font-size: 30px;
  font-weight: 7000;
}

.span {
  color: rgba(247, 233, 63, 1);
  background: linear-gradient(to right, #FF3DBB, #FF00CC, #B000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 12px 16px;
  border-radius: 50px;
  background: linear-gradient( 90deg,
    #F7E93F, #FB09B4, #9100F8);
}

